@use '@/styles/colors.sass' as colors

a.link, a.nestLink
    display: block
    text-decoration: none
    color: colors.$color_purple

a.link
    font-size: 16px
    font-weight: 700

a.nestLink
    font-size: 14px
    font-weight: 700
    padding: 0px 5px

@media screen and (max-width: 992px)
    a.link
        font-size: 24px
        color: colors.$color_white

    a.nestLink
        font-size: 22px
