@use '@/styles/colors.sass' as colors

.navbar
    position: fixed
    width: 100%
    top: 0px
    left: 0px
    z-index: 10
    background-color: colors.$color_white

    .container
        width: 90%
        max-width: 90%
        margin:
            left: auto
            right: auto

        .row
            display: flex
            justify-content: space-between
            align-items: center

@media screen and (max-width: 992px)
    .navbar
        padding: 5px
