@use '@/styles/colors.sass' as colors

.hamburger
    position: absolute
    top: 50%
    right: 5%
    width: 35px
    transform:  translate(-50%, -50%)
    display: none
    justify-content: center
    align-items: center
    flex-direction: column
    cursor: pointer
    z-index: 10

    .hamburger_toggle
        width: 100%
        height: 5px
        background-color: colors.$color_black
        margin: 2px 0px
        border-radius: 5px

.hamburger.mobile.opened
    display: flex

.hamburger.mobile.close
    display: flex

    .hamburger_toggle
        transition: 0.5s
    
    .hamburger_toggle:nth-child(1)
        background-color: colors.$color_white
        width: 40px
        transform: rotate(45deg) translate(7px, 7px)
    
    .hamburger_toggle:nth-child(2)
        background-color: colors.$color_white
        visibility: collapse

    .hamburger_toggle:nth-child(3)
        background-color: colors.$color_white
        transform: rotate(-45deg) translate(5px, -6px)
        width: 40px
