@use '@/styles/colors.sass' as colors

.errorPage404
    width: 100%
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    box-sizing: border-box
    border-top: 20px solid colors.$color_blue
    border-bottom: 20px solid colors.$color_blue

    h1
        color: colors.$color_blue
        font-size: 50px
