@use '@/styles/colors.sass' as colors

.loading
    position: fixed
    width: 100%
    height: 100vh
    top: 0
    left: 0
    z-index: 999
    background-color: colors.$color_blue
    display: flex
    justify-content: center
    align-items: center
    box-sizing: border-box

    .circle
        border: 1px solid
        width: 80px
        height: 80px
        border-radius: 50%
        border: 8px solid colors.$color_grey
        border-bottom-color: colors.$color_pink
        border-top-color: colors.$color_pink
        transform: rotate(0deg)
        animation: 1s rotation linear infinite

            
@keyframes rotation
    0%
        transform: rotate(0deg)
    50%
        transform: rotate(180deg)
    100%
        transform: rotate(360deg)
